<!DOCTYPE html>
{% load socialaccount %}
{% load static %}

<html lang="en">

    <head>
        <title>Login</title>
        {% include "header.html" %}
        {% load socialaccount %}
    </head>
    <body class="back">
        {% include "base_generic.html" %}

        {% block content %}

        <div class="container">

            <div class="d-flex justify-content-center logo-box">
                <img src="{% static 'logo.png' %}">
            </div>
            <h3 class="d-flex justify-content-center">Login</h3>
            <div class="jumbotron m-5">
                {% if form.errors %}
                    <h6 class="alert-danger col-4 p-2 offset-4">Your username and password didn't match. Please try again.</h6>
                {% endif %}
                <form class="" method="post" action="{% url 'api:custom_login' %}">
                    {% csrf_token %}

                    <table class="d-flex justify-content-center">
                        <tr><td>
                            Username
                        </td></tr>
                        <tr><td>
                            {{ form.username }}
                        </td></tr>
                    </table>
                    <table class="d-flex justify-content-center mt-2">
                        <tr><td>
                            Password
                        </td></tr>
                        <tr><td>
                            {{ form.password }}
                        </td></tr>
                    </table>
                    <div class="col mx-auto mt-4 text-center">
                        <input class='btn btn-primary col-2' type="submit" value="Login"/>
                        <input type="hidden" name="/home/" value="/home/"/>
                    </div>
                    <div class="col mx-auto mt-1 text-center">
                        <a class="btn btn-danger col-2" href="{% url 'api:register' %}"
                           style="word-wrap: break-word; white-space: normal !important;">Create Account</a>
                    </div>
{#                    <div class="col mx-auto mt-3 text-center">#}
{#                        <a class="btn btn-outline-danger rounded-5 col-2" href="{% provider_login_url 'google' %}">Login with Google</a>#}
{#                    </div>#}
                    <div class="col mx-auto mt-1 text-center">
                        <p><a href="{% url 'api:password_reset' %}">Lost password?</a></p>
                    </div>

                </form>
            </div>
        </div>


    {% endblock %}
    </body>

</html>