<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% include "header.html" %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h4>Topic Area</h4>
        <div class="row">
            <div readonly id="chat-log" cols="100" rows="20"></div><br>
{#            <textarea readonly id="chat-log" cols="100" rows="20"></textarea><br>#}
        </div>
        <div class="row my-3">
            <div class="col-10">
                <input id="chat-message-input" type="text">
            </div>
            <div class="col-2">
              <div class="d-flex justify-content-end">
                <input type="file" id="uploadFile" style="display: none;" />
                <input id='fileUpload' type="button" value="Upload"
                       onclick="document.getElementById('uploadFile').click();" />
                <input class="btn btn-primary ml-2" id="chat-message-submit" type="button" value="Send">
                  <div id="image-text"></div>
              </div>
            </div>
        </div>
        {{ room_name|json_script:"room-name" }}
    </div>
</body>
<script>
    const divHTML = document.getElementById('chat-log');
    for (let i = 0; i < {{ chat_messages|safe }}.length; i++) {
      {#textarea.innerText += {{chat_messages|safe}}[i]+ "\r\n";#}
      divHTML.innerHTML +=
          "<div class='m-2 p-1 rounded w-50' style='background: lightgrey'>"+
          {{chat_messages|safe}}[i][1] +
          {#"<button type='button' onclick='document.getElementById("+{{chat_messages|safe}}[i][0]+").innerHTML = parseInt(document.getElementById("+{{chat_messages|safe}}[i][0]+").textContent)+1;upvote_counter("+{{chat_messages|safe}}[i][0]+")' name='upvote' value='upvote' onclick='upvote_counter("+i+")' class='btn btn-success btn-sm mx-2'>&#8593<span id="+{{chat_messages|safe}}[i][0]+" class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][2]+"</span></button>"+#}
          "<button type='button' onclick='upvote_counter("+{{chat_messages|safe}}[i][0]+")' class='btn btn-success btn-sm mx-2'>&#8593<span id='u"+{{chat_messages|safe}}[i][0]+"' class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][2]+"</span></button>"+
          "<button type='button' onclick='downvote_counter("+{{chat_messages|safe}}[i][0]+")' class='btn btn-danger btn-sm mx-2'>&#8595<span id='d"+{{chat_messages|safe}}[i][0]+"' class='badge badge-dark badge-sm'>"+{{chat_messages|safe}}[i][3]+"</span></button>"+
          "<img src='"+{{chat_messages|safe}}[i][4]+"'alt='' width=auto height=100>"+
          "</div>\r\n";
    }

    {#scroll to bottom#}
    {#textarea.scrollTop = textarea.scrollHeight#}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function upvote_counter(chat_id) {
        {#window.open(url);#}
        var chatid = 'u'+chat_id;
        console.log(chatid)

        $.post({% url 'voting' %}, {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            chat_id: chat_id,
            voting_type: 'upvote',
        }, function (data) {
            console.log("upvoted!");
            if (data.status) {
                document.getElementById(chatid).innerHTML = parseInt(document.getElementById(chatid).textContent)+1
            }
        })
    }
    function downvote_counter(chat_id) {
        {#window.open(url);#}
        var chatid = 'd'+chat_id;
        console.log(chatid)

        $.post({% url 'voting' %}, {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            chat_id: chat_id,
            voting_type: 'downvote',
        }, function (data) {
            console.log("downvoted!");
            if (data.status) {
                document.getElementById(chatid).innerHTML = parseInt(document.getElementById(chatid).textContent)+1
            }
        })
    }
</script>
<style>
    .sellect-element{
        border: none;
        height: 18px;
        background: none;
        outline: none;
        width: 100%;
    }

    .sellect-container{
        border: 1px solid #ccc;
        padding: 5px 5px 0 5px;
        border-radius: 3px;
        margin-top: 5px;
        position: relative;
    }

    .sellect-origin-list{
        overflow: auto;
        max-height: 0;
        opacity: 0;
        transition: opacity 1.1s ease, max-height .2s ease;
    }

    .sellect-origin-list.open{
        max-height: 138px;
        opacity: 1;
    }


    .sellect-origin-list .sellect-item{
        display: block;
        cursor: pointer;
        padding: 5px;
        border-radius: 3px;
        margin-right: 5px;
    }

    .sellect-origin-list .sellect-item:last-child{
        margin-bottom: 5px;
    }

    .sellect-origin-list .sellect-item:hover,
    .sellect-origin-list .sellect-item.active{
        background: #e2e2e2;
    }
</style>
<script>
    (function () {
        this.sellect = function (selector, options) {
            /*jslint newcap:true */
            return new _Sellect(selector, options);
        };

        this._Sellect = function (selector, options) {
            this.container = document.createElement("div");
            this.originListHTML = document.createElement("div");

            var defaults = {
                element:
                    typeof selector === "object"
                    ? selector
                    : document.querySelector(selector),
                originList: [],
                destinationList: [],
            };

            if (arguments[0] && typeof arguments[1] === "object") {
                this.options = extendDefaults(defaults, arguments[1]);
            }
        };

        function createHTML() {
            var self = this;

            if (self.options) {
                self.options.originList.forEach(function (item) {
                    createListsHTML(self.originListHTML, item);
                });

                self.options.element.parentNode.insertBefore(
                    self.container,
                    self.options.element
                );

                self.container.appendChild(self.options.element);
                self.container.appendChild(self.originListHTML);
            }
        }

        function createListsHTML(list, item) {
            var listItem = document.createElement("span");

            listItem.classList.add("sellect-trigger", "sellect-item");

            listItem.innerHTML = item;
            list.appendChild(listItem);
        }

        function initializeEvents() {
            var self = this;

            if (self.options) {
            self.originListHTML.addEventListener(
                "click",
                function () {
                    addItemDOM.call(self, event.target);
                },
                false
            );

            self.options.element.addEventListener(
                "keyup",
                function () {
                    var key = event.keyCode || event.charCode;
                    switch (key) {
                        case 40:
                            if (self.originListHTML.childNodes.length > 0) {
                                selectionDown.call(self);
                                scrollTop.call(self);
                            }
                        break;

                        case 38:
                            if (self.originListHTML.childNodes.length > 0) {
                                selectionUp.call(self);
                                scrollBottom.call(self);
                            }
                        break;
                        case 13:
                            selectItemOriginList.call(self)
                        break;
                        default:
                            filterOriginList.call(self);
                        break;
                    }
                },
                false
            );

            window.addEventListener(
                "click",
                function () {
                    closeOriginList.call(self);
                },
                false
            );
            }
        }


        function selectItemOriginList() {
            var self = this;

            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];
        
            addItemDOM.call(self, selectedItem);
        }

        function addItemDOM(trigger) {
            var self = this;
            var item;
            if (!trigger) return;

            item = trigger.classList.contains("sellect-trigger")
                ? trigger
                : trigger.parentNode;

            event.stopPropagation();
        
            if (
                !item ||
                item.className.indexOf("sellected-list") > -1 ||
                item.className.indexOf("sellect-list") > -1
            ) {
                return;
            }

            var inputText = self.options.element.value
            var selectionStart = self.options.element.selectionStart
            
            var beforeSearchedTag = inputText.substring(0, inputText.substring(0, selectionStart).lastIndexOf(" ")) 
            var afterSearchedTag = inputText.substring(selectionStart, inputText.length)

            var modBeforeSearchedTag = beforeSearchedTag.length ? beforeSearchedTag + " " : ""
            var modAfterSearchedTag = afterSearchedTag.length ? afterSearchedTag : " "

            var resultText = modBeforeSearchedTag + "#" + item.innerText + modAfterSearchedTag
           
            self.options.element.value = resultText

            self.options.element.focus();
            createEventListener.call(self, "keyup");

            self.options.originList = [];
        }

        function filterOriginList() {
            var self = this;
            var value = event.target.value;
            var selectionStart = event.target.selectionStart
            var items = self.originListHTML.childNodes;

            var startIndex = value.substr(0, selectionStart).lastIndexOf("#")
            var selectedPart = value.substring(startIndex, selectionStart)
            var selectedTag = selectedPart.includes(" ") ? "" : selectedPart

            if (selectedTag.includes("#")) {
                var substr = selectedTag.replace("#", "")

                if (substr.length) {
                    openOriginList.call(self);
                }

                items.forEach(function (item) {
                    if (item.innerText.toLowerCase().startsWith(substr.toLowerCase())) {
                        item.style.display = "inherit";
                    } else {
                        item.style.display = "none";
                    }
                });
            } else {
                closeOriginList.call(self);
            }
        }

        function selectionUp() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];
            var prevItem;

            if (!selectedItem || !selectedItem.previousElementSibling) {
            return;
            }

            prevItem = getOriginListVisibleItem(selectedItem.previousElementSibling);

            if (prevItem) {
                prevItem.classList.add("active");
                selectedItem.classList.remove("active");
            }
        }

        function selectionDown() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];
            var nextItem;

            if (!selectedItem) {
                nextItem = getOriginListVisibleItem(
                    self.originListHTML.childNodes[0],
                    "down"
                );

                if (nextItem) {
                    nextItem.classList.add("active");
                }

                return;
            }

            if (!selectedItem.nextElementSibling) return;

            nextItem = getOriginListVisibleItem(
                selectedItem.nextElementSibling,
                "down"
            );

            if (nextItem) {
                nextItem.classList.add("active");
                selectedItem.classList.remove("active");
            }
        }

        function scrollTop() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];

            if (!selectedItem) return;

            var itemPositionTop = selectedItem.offsetTop;

            if (
            itemPositionTop >=
            self.originListHTML.clientHeight + selectedItem.clientHeight
            ) {
            self.originListHTML.scrollTop =
                self.originListHTML.scrollTop + selectedItem.clientHeight;
            return true;
            }
        }

        function scrollBottom() {
            var self = this;
            var selectedItem = self.originListHTML.getElementsByClassName("active")[0];

            if (!selectedItem) return;

            var itemPositionTop = selectedItem.offsetTop;

            if (
                itemPositionTop <=
                self.originListHTML.scrollHeight -
                    self.originListHTML.clientHeight +
                    selectedItem.clientHeight
            ) {
                self.originListHTML.scrollTop =
                    self.originListHTML.scrollTop - selectedItem.clientHeight;
                return true;
            }
        }

        function getOriginListVisibleItem(selectCandidate, direction) {
            if (direction === "down") {
            while (
                selectCandidate.offsetParent === null &&
                selectCandidate.nextElementSibling
            ) {
                selectCandidate = selectCandidate.nextElementSibling;
            }
            } else {
            while (
                selectCandidate.offsetParent === null &&
                selectCandidate.previousElementSibling
            ) {
                selectCandidate = selectCandidate.previousElementSibling;
            }
            }

            return selectCandidate.offsetParent !== null ? selectCandidate : false;
        }
        
        function createEventListener(eventType) {
            var self = this;
            var customEvent = document.createEvent("Event");
            customEvent.initEvent(eventType);
            self.options.element.dispatchEvent(customEvent);
        }

        function openOriginList() {
            var self = this;
            event.stopPropagation();

            if (!self.originListHTML.classList.contains("open")) {
                self.options.element.focus();
                self.originListHTML.classList.add("open");
            }
        }

        function closeOriginList() {
            var self = this;
            event.stopPropagation();

            if (self.originListHTML.classList.contains("open")) {
                self.originListHTML.classList.remove("open");
            }
        }

        function toggleOriginList() {
            var self = this;
            event.stopPropagation();

            if (!self.originListHTML.classList.contains("open")) {
                self.originListHTML.classList.add("open");
            } else {
                self.originListHTML.classList.remove("open");
            }
        }

        function extendDefaults(source, properties) {
            var property;
            for (property in properties) {
                if (properties.hasOwnProperty(property)) {
                    source[property] = properties[property];
                }
            }
            return source;
        }

        _Sellect.prototype.init = function () {
            var self = this;

            if (self.options) {
                self.options.element.setAttribute("class", "sellect-element");
                self.container.setAttribute("class", "sellect-container");
                self.originListHTML.setAttribute("class", "sellect-origin-list");
              
            }

            createHTML.call(self);
            initializeEvents.call(self);
        };

        _Sellect.prototype.clear = function () {
            var self = this;
            self.options.element.value = ""
        }
    
        _Sellect.prototype.getMessage = function () {
            var self = this;

            return self.options.element.value
        }
    })();
</script>
<script type="application/javascript">
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    function toBase64 (file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        })
    } 

    const predictiveOptions = {{tags|safe}}
    const mySellect = sellect("#chat-message-input", {
        originList: predictiveOptions.map(opt => opt.tag)
    });

    mySellect.init();

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        {#document.querySelector('#chat-log').value += (data.message + '\n');#}
        document.querySelector('#chat-log').innerHTML +=
            "<div class='m-2 p-1 rounded w-50' style='background: lightgrey'>"+
            (data.message + '\n')+
            "<button type='button' onclick='upvote_counter("+(data.id)+")' class='btn btn-success btn-sm mx-2'>&#8593<span id='u"+(data.id)+"' class='badge badge-dark badge-sm'>"+(data.upvote)+"</span></button>"+
            "<button type='button' onclick='downvote_counter("+(data.id)+")' class='btn btn-danger btn-sm mx-2'>&#8595<span id='d"+(data.id)+"' class='badge badge-dark badge-sm'>"+(data.downvote)+"</span></button>"+
            "<img src='"+(data.file)+"'alt='' width=auto height=100>"+
            "</div>";
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    function addItem(item) {
        debugger
        var listItem = document.createElement("span");
        listItem.classList.add("sellect-trigger", "sellect-item");

        listItem.innerHTML = item;
        return listItem
    }

    // file upload, display name of file
    {#$(document).ready(function(){#}
    {#                debugger#}

        $('#uploadFile').change(function(e){

            // max image size is 10MB
            if(this.files[0].size > 10485760){
               alert("File is too big!");
               this.value = "";
               return
            };

            var filename = e.target.files[0].name;
            $('#image-text').text(filename)
        });

    document.querySelector('#chat-message-submit').onclick = async function(e) {
        const file = document.getElementById("uploadFile").files[0];
        const message = mySellect.getMessage();

        {#adding new tags to array#}
        if(message != '') {
            debugger
            var stringTags = message.match(/#[a-z]+/gi);
            if (stringTags) {
                var newTags = stringTags.map(c => c.slice(1))
                var newTags1 = Array()

                for (tag in newTags){
                    if (!mySellect.options.originList.includes(newTags[tag])){
                        newTags1.push(newTags[tag])
                        mySellect.options.originList.push(newTags[tag])
                    }
                }
                const remoteParentElement = document.getElementsByClassName('sellect-origin-list')[0];
                debugger
                newTags1.forEach((item) => {remoteParentElement.insertBefore(addItem(item),
                    remoteParentElement.nextSibling)})
            }
        }

        const payload = {
            'message': message,
            'roomName': roomName
        }
  
        if (file) {
            // converting file to base64
            const fileInBase64 = await toBase64(file)
            payload.file = fileInBase64;
        }

        chatSocket.send(JSON.stringify(payload));
        mySellect.clear()
        document.getElementById("uploadFile").value = null;
        document.getElementById("image-text").innerText = null;
    };
</script>
</html>