<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% include "header.html" %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h4>Chat Area</h4>
        <div class="row">
{#            <div readonly id="chat-log" cols="100" rows="20"></div><br>#}
            <textarea readonly id="chat-log" cols="100" rows="20"></textarea><br>
        </div>
        <div class="row my-3">
            <div class="col-11">
                <input id="chat-message-input" type="text" size="100"><br>
            </div>
            <div class="col-1 justify-content-end d-flex">
                <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
                <input class="btn btn-success" id="chat-message-submit" type="button" value="upload">
            </div>
        </div>
        {{ room_name|json_script:"room-name" }}

    </div>
</body>
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'roomName': roomName
        }));
        messageInputDom.value = '';
    };

</script>
<script>
    const textarea = document.getElementById('chat-log');
    for (let i = 0; i < {{ chat_messages|safe }}.length; i++) {
      {#textarea.innerText += {{chat_messages|safe}}[i]+ "\r\n";#}
      textarea.value += {{chat_messages|safe}}[i] + "\r\n";
    }

    {#scroll to bottom#}
    textarea.scrollTop = textarea.scrollHeight
</script>
</html>