.container{

    margin-top: 100px;
}

.green-text {
    color: darkgreen;
}

.back {
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
    /*object-fit: cover;*/
}



.row-img {
    height: 75px;
    width: auto;
}

p + p { margin-top: 10px; }


.required {
    color: red;
}