.container{

    margin-top: 100px;
}

.green-text {
    color: darkgreen;
}

.back {
    /*background-repeat: no-repeat;*/
    /*background-size: auto;*/
    /*object-fit: cover;*/
}


.check-focus:focus {
  outline: none;
  box-shadow: none;
}

.logo-box {
  height: 90px;
}

.row-img {
    height: 75px;
    width: auto;
}

p + p { margin-top: 10px; }


.required {
    color: red;
}