<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include "header.html" %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% elif success %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endif %}
        <div class="col-2 m-4">
            <input type="text" placeholder="Search.." onclick="">
        </div>
        <table class="table table-striped w-75 mx-auto">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Topic</th>
              <th scope="col">Logo</th>
              <th scope="col">Subscription</th>
              <th scope="col">Invite</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in api_products %}
                <tr>
                    <form action="{% url 'confirmation_page' %}" method="get">
                        {% csrf_token %}
                        <input class="d-none" type="text" name="product_id" value="{{ obj.id }}"/>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>
                            {% if obj.logo %}
                                <img class="row-img" src="{{ obj.logo }}">
                            {% else %}
                                <img class="card-img-top" alt="sample">
                            {% endif %}
                        </td>
                        <td>
                            <input class="btn btn-sm btn-success" type="submit"
                              name="subscribe" value="subscribe"/>
                            <input class="btn btn-sm btn-danger" type="submit"
                              name="unsubscribe" value="unsubscribe"/>
                            <input class="btn btn-sm btn-dark" type="submit"
                              name="chat" value="chat"/>
                        </td>
                        <td>
                            <input type="text" name="invite_email" value="">
                            <input class="btn btn-sm btn-primary" type="submit"
                              name="invite" value="invite"/>
                        </td>
                    </form>
                </tr>
            {% endfor %}

          </tbody>
        </table>
    </div>

</body>
</html>